  <nav>
  <ul id="nav-bar">
    <li class="links"><a href="/">Database</a></li>
    <li class="links">|</li>
    <li class="links"><a href="/about">About</a></li>
    <li class="links">|</li>
    <li class="links"><a href="/about">Notifications</a></li>
    <li class="links">|</li>
    <li class="links"><a href="/login">Account</a>
  </nav>
