<nav>
  <ul id="nav-bar">
    <li><a class="nav-links" href="../article">Articles</a></li>
    <span class="nav-link-separator">|</span>
    <li><a class="nav-links" href="../about">About</a></li>
    <span class="nav-link-separator">|</span>
    <!--<li><a class="nav-links" href="../notifications">Notifications</a></li> -->
    <!--<span class="nav-link-separator">|</span>-->
    <li><a class="nav-links" href="../account" id="account-page-link">Account</a></li> 
  </ul>
</nav>

