<header>
  <div class="logo-container">
    <img id="logo" src="./images/logo.jpg" alt="">
    <h1 id="logo-name">Thesis Trove</h1>
  </div>
  <nav>
    <ul id="nav-bar">
      <li class="links"><a href="/about">About</a></li>
      <li class="links"><a href="/login">Get Started</a>
  </nav>
</header>
