<!doctype html>
<html lang="en">
<%- include('./partials/head.ejs') %>
  <body>
    <div class="not-found content">
      <h1>404 Error</h1>
      <h1>Oops! The page does not exist  :(</h1>
      <br/>
      <br>
      <a class="por-o-por-link" href="/home">return to the home page</a>
    </div>
  <%- include('./partials/footer.ejs') %>
  </body>
</html>
