<!doctype html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <% //for nav bar %> <%- include('./partials/nav.ejs') %>

    <div class="about-container">
      <div class="about content">
        <p id="about-intro">ABOUT PAGE IS STILL EMPTY</p>
        <p id="about-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita
          dolorum minus ducimus odio sunt dolore assumenda accusamus harum
          dignissimos ipsa iure veniam, quidem natus corporis fugit, tempore at
          neque ea.
        </p>
        <p id="about-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita
          dolorum minus ducimus odio sunt dolore assumenda accusamus harum
          dignissimos ipsa iure veniam, quidem natus corporis fugit, tempore at
          neque ea.
        </p>
      </div>
    </div>
    <% //for footer %> <%- include('./partials/footer.ejs') %>
  </body>
</html>
