<!doctype html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/nav.ejs') %>

    <div class="account-container">
      <div class="user-info-container">
        <div class="user-name">Dummy User </div>
      </div>

      <button class="logout-btn">Logout</button>
    </div>

    <%- include('./partials/footer.ejs') %>
    <script src="./js/account.js"></script>
  </body>
</html>

