<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/header.ejs') %>
      <%- include('./partials/nav.ejs') %>

        <div class="account-container">
          <section class="admin-section">
            <div class="admin-content content">
              <form id="upload-form" class="upload-form" enctype="multipart/form-data">
                <h1 class="upload-file-h1">Upload File</h1>

                <div class="upload-form-control">
                  <label for="title-input" class="upload-label">Title</label>
                  <input class="upload-input" type="text" id="title-input" name="title">
                </div>

                <div class="dropdown-container">
                  <label id="number-dropdown-label" for="number-dropdown" class="upload-label">Number of
                    Researcher/s</label>
                  <select id="number-dropdown" class="dropdown">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                  </select>
                </div>

                <div class="upload-form-control" id="researcher-container">
                  <!-- Initial input (Researcher 1) -->
                  <div class="researcher-form-control">
                    <label for="researcher-input-1" class="upload-label">Researcher 1</label>
                    <input class="upload-input" type="text" id="researcher-input-1" name="researcher-1">
                  </div>
                </div>
                <!--<div class="upload-form-control">-->
                <!---->
                <!--  <div class="upload-form-control" id="researcher-container">-->
                <!--    <label for="researcher-input" class="upload-label">Researcher</label>-->
                <!--    <input class="upload-input" type="text" id="researcher-input" name="researcher">-->
                <!--    <!-- additional researcher labels and inputs will be dynamically generated here -->
                <!--  </div>-->
                <!--</div>-->

                <div class="upload-form-control">
                  <label for="research-adviser" class="upload-label">Research Adviser</label>
                  <input class="upload-input" type="text" id="research-adviser" name="research-adviser">
                </div>

                <div class="upload-form-control">
                  <label for="date-approved" class="upload-label">Date Approved</label>
                  <input class="upload-input" type="date" id="date-approved" name="date-approved">
                </div>

                <div class="form-control" id='browse-file-container'>
                  <div class='fileLabel-note-cont'>
                    <label for="browse-file" class="upload-label">File</label>
                    <div><span id="upload-note">NOTE:</span> Only pdf' s are supported</div>
                  </div>
                  <input class="upload-input" type="file" id="browse-file" name="files">
                </div>

                <button class="upload-btn" type="submit">Upload</button>
              </form>

              <div>
          </section>

          <div class="account">
            <div class="user-info">
              <div class="user-name"></div>
              <div class="admin-indicator"></div>
            </div>
            <section class="account-content">
              <!--some content prob-->
            </section>
            <div class="logout-cont">
              <button class="logout-btn">Logout</button>
            </div>
          </div>


        </div>
        <%- include('./partials/footer.ejs') %>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js" crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>

          <!-- deps and cdns for toastr -->
          <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

          <script src="./js/account.js"></script>
  </body>

</html>
