<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
     <%- include('./partials/nav.ejs') %>

    <div class="se-container content">
      <label for="se" id="se-label"></label>
      <input type="text" name="se" id="se">
    </div>

    <div class="files-container content">
      <!-- file items will appear here --> 
    </div>

    <div class="loading-indicator">
      <img id="loading-gif" src="../images/loading.gif" alt="Loading..."/>
    </div>

    <div class="pdf-container content">
      <!-- canvas will appear here <-->
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.1.81/pdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.1.81/pdf.worker.min.js"></script>
    <!--<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>-->
    <script src="./js/article.js"></script>
  </body>
</html>

