<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/nav.ejs') %>

    <div class="home content">
      <div class="home-intro">
        <div class="home-text">
          <p">Welcome to</p>
          <p">COMSA Research</p>
          <p">Libarary System!</p>
        </div>
        <button class="home-button">
          <ion-icon name="search-outline"></ion-icon>
          <span class="home-button-text">Search Articles Here</span>
        </button>  
      </div>
      <img src="../images/school.png" alt="school-picture" id="school-picture">
    </div>

    <%- include('./partials/footer.ejs') %>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="js/article.js"></script>
  </body>

</html>
