<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>

  <%- include('./partials/header.ejs') %>

  <div class="register content">
    <h1 class="form-h1">Registration</h1>
    <p class="form-p">Already have an account? Log-in <a id="signInExistingAccount" href="/login">here</a>
    </p>
      <form class="form" <!--action="/api/v1/auth/register" method="post" -->>
      <label id="email-label" for="email-input">Email</label>
      <input type="text" id="email-input" name="email-input" required placeholder="example@gmail.com">

      <label for="name-input">Full Name</label>
      <input type="text" id="name-input" name="name-input" required placeholder="Dela Cruz, J. Juan">

      <label for="student-number-input">Student Number</label>
      <input type="text" id="student-number-input" name="student-number-input" required placeholder="135-09030M">

      <label for="year-and-section-input">Year & Section</label>
      <input type="text" id="year-and-section-input" name="year-and-section-input" required placeholder="BSCS-1C">

      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>

      <label for="confirm-password-input">Confirm Password</label>
      <input type="password" id="confirm-password-input" name="confirm-password-input" required>

      <button id="submit" type="submit">Register</button>
    </form>
  <div>

  <script src="../public/js"></script>     
  
</body>

</html>
