<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')  %>
<body>

  <% //for nav bar %>
  <%- include('./partials/nav.ejs')  %>

  <div class="home content">
      <h1 class="home-intro">Thesis Trove</h1>
      <p class="home-intro-snippet">A digital library for the research papers of BSCS students in EARIST.</p>
      <a class="get-started-button" href="/login">Get Started</a>
    </div>
  </div>
  
  <% //for footer %>
  <%- include('./partials/footer.ejs') %> 

  <script src="script.js"></script>

</body>
</html>