<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>

  <%- include('./partials/header.ejs') %>

  <div class="register content">
    <h1 class="form-h1">Registration</h1>
    <p class="form-p">Already have an account? Log-in <a id="signInExistingAccount" href="/login">here</a>
    </p>
    <form action="/login" method="post">
      <label id="email-label" for="email">Email</label>
      <input type="text" id="email" name="email" required placeholder="e.g. example@gmail.com">

      <label id="full-name" for="full-name">Full Name</label>
      <input type="text" id="full-name" name="full-name" required placeholder="e.g. Dela Cruz, J. Juan">

      <label id="student-number" for="student-number">Student Number</label>
      <input type="text" id="student-number" name="student-number" required placeholder="e.g. 135-09030K">

      <label id="year-and-section" for="year-and-section">Year & Section</label>
      <input type="text" id="year-and-section" name="year-and-section" required placeholder="e.g. BSCS-1C">

      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>

      <label for="confirm-password">Confirm Password</label>
      <input type="confirm-password" id="confirm-password" name="confirm-password" required>

      <button id="submit" type="submit">Register</button>
    </form>
  <div>

</body>

</html>
