<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

  <body>

    <% //for nav bar %>
      <%- include('./partials/nav.ejs') %>

        <div class="home content">
          <div class="home-intro-container">
            <h1 class="home-intro">Thesis Trove</h1>
            <p class="home-intro-snippet">A digital library for the research papers of BSCS students in EARIST.</p>
            <a class="get-started-button" href="/login">Get Started</a>
          </div>
          <div>
            <img src="./images/homepage-pic.jpg" alt="homepage-pic" id="homepage-pic">
          </div>
        </div>

        <div class="home-second-container">
          <div>
            THIS IS ANOTHER SECTION IF YOU WANNA ADD SOMETHING OR JUST REMOVE THIS OTHERWISE.
            <%= // modify/remove this css and html as you see fit. CSS LINE: 119 %>
          </div>
        </div>

        <% //for footer %>
          <%- include('./partials/footer.ejs') %>

            <script src="script.js"></script>

  </body>

</html>
