<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>

  <%- include('./partials/header.ejs') %>
  <div class="register content">
      <h1 class="form-h1">Registration</h1>
      <p class="form-p">Already have an account? Log-in <a id="signInExistingAccount" href="/login">here</a></p>
      
      <form class="form">
          <label for="name-input">Full Name</label>
          <input type="text" id="name-input" name="name" required placeholder="Dela Cruz, J. Juan">

          <label id="email-label" for="email-input">Email</label>
          <input type="text" id="email-input" name="email" required placeholder="example@gmail.com">

          <label for="student-number-input">Student Number</label>
          <input type="text" id="student-number-input" name="studentNumber" required placeholder="135-09030M">

          <label for="year-and-section-input">Year & Section</label>
          <input type="text" id="year-and-section-input" name="yearAndSection" required placeholder="BSCS-1C">

          <label for="password-input">Password</label>
          <input type="password" id="password-input" name="password" required>

          <label for="confirm-password-input">Confirm Password</label>
          <input type="password" id="confirm-password-input" name="confirmPassword" required>

          <button id="submit" type="submit">Register</button>
      </form>

      <%- include('./partials/footer.ejs') %>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="module" src="./js/register.js"></script>     
  
</body>

</html>
