<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')  %>
<body>
  
  <% //for nav bar %>
  <%- include('./partials/nav.ejs')  %>

  <div class="login content">
    <h1 class="form-h1">Sign up for free</h1>
    <p class="form-p">Or <a id="signInExistingAccount" href="#">sign in to your existing account</a></p>
    <form action="/login" method="post">
      <label id="username" for="username">Username</label>
      <input type="text" name="username">

      <label for="email">Email</label>
      <input type="text" id="username" name="email" required>

      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>

      <label for="password-confirmation">Password confirmation</label>
      <input type="password-confirmation" id="password" name="password-confirmation" required>

      <button id="submit" type="submit">Sign Up</button>
    </form>
  <div>

  <% //for footer %>
  <%- include('./partials/footer.ejs') %> 
    
</body>
</html>