<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--  <%- include('./partials/head.ejs') %>-->
<!--  <body>-->
<!--     <%- include('./partials/header.ejs') %>-->
<!--     <%- include('./partials/nav.ejs') %>-->
<!---->
<!--      <div id="loading-indicator" style="display: none;">Loading...</div>-->
<!--      <canvas id="pdf-canvas" style="border: 1px solid black; display: none;"></canvas>-->
<!--      <%- include('./partials/footer.ejs') %>-->
<!---->
<!--      <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.min.js"></script>-->
<!--      <!--<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->-->
<!--d      <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>-->-->
<!--      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->
<!--      <script src="./js/article.js"></script>-->
<!--  </body>-->
<!--</html>-->
<!---->
<!---->
